{% extends "base.html" %}
{% block content %}
<h2>Agregar piloto</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">{{ form.nombre.label }} {{ form.nombre(class="form-control") }}</div>
    <div class="mb-3">{{ form.direccion.label }} {{ form.direccion(class="form-control") }}</div>
    <div class="mb-3">{{ form.telefono.label }} {{ form.telefono(class="form-control") }}</div>
    <div class="mb-3">{{ form.historial_educativo.label }} {{ form.historial_educativo(class="form-control") }}</div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}